<form action="/" method="GET" class="ml-[17%]">
<button class="bg-white-500 text-blue font-bold border border-blue-700 mt-3 rounded-lg px-4 py-2 hover:bg-blue-700 hover:text-white">
    {{ text }}
  </button>
</form>