<footer class="absolute bg-primary b-1 mt-24 py-5 px-4 border-t border-sand-3 w-full">
    <div class="flex justify-between items-center">
    <p class="text-white">
        © 2025 Tous droits réservés
    </p>
    <form action="/deconnect" method="post">
        {{ csrfField() }}
        <button type="submit" class="hover:underline text-white">Déconnexion</button>
    </form>
</div>
</footer>