<footer class="absolute b-1 mt-24 py-5 px-4 border-t border-sand-3 w-full">
    <div class="flex justify-between items-center">
    <p class="text-sand-10">
        © 2025 Raccourcisseur d'URL • Tous droits réservés
    </p>
    <a href="" class="hover:underline text-sand-10 hover:text-black">Déconnexion</a>
</div>
</footer>