<header class="p-4 bg-primary mb-8 flex justify-between items-center sm:items-center gap-4">
    <div>
        <h1 class="text-[16px] font-bold text-white"><a href="/">Mes liens raccourcis</a></h1>
    </div>
    <a href="/home" class="bg-white border w-[140px] text-center text-primary text-[15px] text-primary hover:bg-primary hover:text-white  hover:font-bold px-3 py-3 rounded-lg hover:shadow-md transition-shadow ">
        Nouveau lien
    </a>
</header>