<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Document
    </title>
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <style>
      :root {
        --sand-1: #fdfdfc;
        --sand-2: #f9f9f8;
        --sand-3: #f1f0ef;
        --sand-4: #e9e8e6;
        --sand-5: #e2e1de;
        --sand-6: #dad9d6;
        --sand-7: #cfceca;
        --sand-8: #bcbbb5;
        --sand-9: #8d8d86;
        --sand-10: #82827c;
        --sand-11: #63635e;
        --sand-12: #21201c;
      }
    </style>

    <script src="https://cdn.tailwindcss.com">
      
    </script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: [ "Instrument Sans", "sans-serif" ]
            },
            colors: {
              primary: {
                DEFAULT: "#5A45FF",
                lighter: "#a599ff"
              },
              sand: {
                1: "var(--sand-1)",
                2: "var(--sand-2)",
                3: "var(--sand-3)",
                4: "var(--sand-4)",
                5: "var(--sand-5)",
                6: "var(--sand-6)",
                7: "var(--sand-7)",
                8: "var(--sand-8)",
                9: "var(--sand-9)",
                10: "var(--sand-10)",
                11: "var(--sand-11)",
                12: "var(--sand-12)"
              }
            }
          }
        }
      };
    </script>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body>
    <div
      class="container mx-auto flex flex-col items-center gap-8 mt-[2rem] border border-blue-600 rounded-lg p-16 w-[70%]"
    >
    <header class="mb-10">
      @!component('components/btnHome', { text: 'Créer un nouveau lien' })
    </header>

      <div class="flex flex-col-reverse ">
        @each(Utilisateurs in Utilisateur)
          <section class="">
            <form class="flex gap-[150px] mb-8" method="GET" action="/edits/{{ Utilisateurs.code }}">
              {{ csrfField() }}
              <div>
                <div>
                  <h3 class="inline font-bold text-blue-500 text-xl">
                    No :
                  </h3>
                  <h3 class="inline font-bold text-blue-500 text-xl">
                    {{ Utilisateurs.id }}
                  </h3>
                </div>
                <a href="{{ Utilisateurs.lien }}" class="text-base">{{ Utilisateurs.lien }}</a>
                <a href="{{ Utilisateurs.mini }}" class="text-base">{{ Utilisateurs.mini }}</a>
              </div>
              <span class="flex">
                <button
                  type="submit"
                  class="h-[30px] border border-blue-500 rounded-lg p-1 text-blue-500 text-xs hover:font-bold hover:bg-blue-500 hover:text-white "
                >Modifier</button>
              </form>
              <form method="POST" action="/delete/{{ Utilisateurs.id }}?_method=DELETE">
                {{ csrfField() }}
            <button
                  type="submit"
                  class="border border-red-500 rounded-lg p-1.5 text-red-500 text-xs ml-1 hover:bg-red-500 hover:font-bold hover:text-white "
                >Supprimer</button>
              </form>
              <form method="GET" action="/detail/{{ Utilisateurs.id }}">
                {{ csrfField() }}
          <button
                  type="submit"
                  class="border border-green-500 w-[100px] rounded-lg p-1.5 text-green-500 text-xs ml-1 hover:bg-green-500 hover:font-bold hover:text-white "
                >Voir en détail</button>
              </form>
            </span>
          @end
        </section>
      </div>
    </div>
  </body>
</html>
