<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
</head>
<body>
    <form method="GET" action="/home">
        <button type="submit" class="bg-blue-500 rounded-lg p-1.5 text-white font-thin hover:bg-blue-950">create</button>
        </form>

    <div class="flex flex-col-reverse">
        @each(Utilisateurs in Utilisateur)
        <form class="flex" method="GET" action="/edits/{{Utilisateurs.code}}">
          {{ csrfField() }}
          <p>{{Utilisateurs.id}} --</p>
          <p>{{Utilisateurs.code}} --</p>
          <p>{{Utilisateurs.lien}} --</p>
          <p>{{Utilisateurs.mini}} --</p>
          <button type="submit" class="border border-red-500">Modifier</button>
        </form>
        <form method="POST" action="/delete/{{Utilisateurs.id}}?_method=DELETE">
            {{ csrfField() }}
        <button type="submit" class="border border-red-500">Supprimer</button>
        </form>
        @end
      </div>
</body>
</html>